*{
    margin: 20;
    padding: 20;
}
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

body {
    background-image: url(images/mainbkg.jpg);
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}


.Stats{
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
}

.logo{
    margin-top:15px;
}
.card{
    background-image: url(images/service-item-bg.jpg);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 240px;
    height:120px;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.No{
    text-align: center;
    font-size: 42px;
    color: yellow;

}
.eventname{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    color: white;
    margin-top: 140px;
}

.secRight{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
}

.secLeft{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    margin: auto;
    flex-direction: row-reverse;
}

.paras{
    background-color: white;    
    border-radius: 10px;
    margin: 2%;
    padding: 2%;
}

.imgFluid{
    width: 300px;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.secttionTag{
    font-family: 'Ubuntu', sans-serif;
    font-size: large;
    color: black;
}

.sectionSubTag{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    color: black;
}

.Poster{
display: flex;
align-items: center;
justify-content: center;
margin-top: 10px;
}

.IMGPOST{
    width: 420px;
}
@media only screen and (max-width: 600px){
    .secLeft{
        flex-direction: column;
    } 
    .secRight{
        flex-direction: column;
    }
    .Stats{
        flex-direction: column;
    }
    .IMGPOST{
        width: 200px
    }
}